*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    font-family: 'Abril Fatface', cursive;
    position: absolute;
    width: 579px;
    height: 112px;
    left: 530px;
    top: 291px;
    
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #000000;
}

.line{
    position: absolute;
    width: 960px;
    height: 0px;
    left: 235px;
    top: 383px;

    border: 1px solid #000000;
}


.image1
{
    position:absolute;
    width: 292.22px;
    height: 279px;
    left: 134.39px;
    top: 450px;
}

.product1_text
{
    font-family: 'Inter', sans-serif;
    position: absolute;
    height: 47px;
    left: 134.39px;
    top: 738px;
} 

.rectangle1{
    box-sizing: border-box;

    position: absolute;
    width: 361px;
    height: 486px;
    left: 99px;
    top: 411px;

    border: 2px solid #DEDEDE;
}

.rectangle1bag{
    position: absolute;
    width: 139px;
    height: 41px;
    left: 235px;
    top: 834px;

    background: #282828;
    border-radius: 10px;
}

.rectangle2{
    box-sizing: border-box;

    position: absolute;
    width: 366px;
    height: 486px;
    left: 539px;
    top: 411px;
    
    border: 2px solid #DEDEDE;
}

.rectangle2bag
{
    position: absolute;
    width: 139px;
    height: 41px;
    left: 680px;
    top: 834px;

    background: #282828;
    border-radius: 10px;
}

.rectangle3{
    box-sizing: border-box;

    position: absolute;
    width: 358px;
    height: 486px;
    left: 984px;
    top: 411px;

    border: 2px solid #DEDEDE;
}

.rectangle3bag
{
    position: absolute;
    width: 139px;
    height: 41px;
    left: 1125px;
    top: 834px;

    background: #282828;
    border-radius: 10px;
}

.image2
{
    position: absolute;
    width: 289px;
    height: 279px;
    left: 581px;
    top: 450px;
}

.product2_text
{
    font-family: 'Inter', sans-serif;
    position: absolute;
    height: 47px;
    left: 581px;
    top: 738px;
} 

.image3
{
    position: absolute;
    width: 288.19px;
    height: 279px;
    left: 1018.9px;
    top: 450px;
}

.product3_text
{
    font-family: 'Inter', sans-serif;
    position: absolute;
    width: 275.23px;
    height: 47px;
    left: 1018.9px;
    top: 738px;
} 

.header2
{
    position: absolute;
    width: 579px;
    height: 92px;
    left: 480px;
    top: 1000px;

    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}

.line2{
    position: absolute;
    width: 960px;
    height: 0px;
    left: 235px;
    top: 1092px;

    border: 1px solid #000000;
}

.addtobag{
    position: absolute;
    width: 94px;
    height: 21px;
    left: 257px;
    top: 844px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 12.5px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.addtobag2{
    position: absolute;
    width: 94px;
    height: 21px;
    left: 702px;
    top: 844px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 12.5px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.addtobag3
{
    position: absolute;
    width: 94px;
    height: 21px;
    left: 1147px;
    top: 844px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 12.5px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase; 
}

.shopbydecaderectangle{
    box-sizing: border-box;

    position: absolute;
    width: 429px;
    height: 354px;
    left: 32px;
    top: 1120px;

    border: 2px solid #DEDEDE;
}

.shopbygenrerectangle{
    box-sizing: border-box;

    position: absolute;
    width: 429px;
    height: 354px;
    left: 505px;
    top: 1120px;

    border: 2px solid #DEDEDE;
}

.shopbybestsellersrectangle{
    box-sizing: border-box;

    position: absolute;
    width: 429px;
    height: 354px;
    left: 963px;
    top: 1120px;

    border: 2px solid #DEDEDE;
}